@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&family=Manrope:wght@700&family=Oxygen:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

img {
  max-width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #054ada;
}

html {
  scroll-behavior: smooth;
}

.portable_text h2 {
  font-weight: 600;
  font-size: 22px;
  margin-top: 26px;
  margin-bottom: 8px;
}

.portable_text p {
  color: rgb(44, 43, 43);
  margin-bottom: 8px;
  margin-top: 8px;
}

.portable_text pre {
  margin: 0 6px;
}

.portable_text pre::-webkit-scrollbar {
  height: 0;
}

.portable_text h3 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 16px;
}

.portable_text blockquote {
  border-left: .2rem solid rgb(5 74 218); 
  padding: .8rem 1.2rem;
  margin-top: 6px;
  background-color: rgb(250, 246, 246);
  color: rgb(20, 20, 20);
}

.portable_text ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 14px;
  margin-left: 6px;
  color: rgb(44, 43, 43);
}

.portable_text ul strong {
  color: rgb(7, 60, 167);
}

@media (min-width: 768px) {
  .portable_text h2 {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 18px;
  }
}